<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/log/administrador/deleteDadosComunicados.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
    <title>Cadastro</title>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <form action="">
        <div class="container">
            <div class="container-conteudo">
                <h1>Cadastro de Comunicados</h1><hr>
                <div class="conteudo">
                    <div class="TituloeDataEnvio">
                        <label id="labeltitulo" for="titulo">Titulo: <input type="text" id="textTitulo" name="txTitulo" disabled></label>

                        <label for="dataEnvio">Data de Envio: <input type="date" id="dataEnvio" name="dtEnvio" disabled></label>
                    </div>

                    <label for="assunto">Assunto: <input type="text" id="textAssunto" name="txAssunto" disabled></label><br>

                    <label id="labelTexto" for="textAreaTexto">Texto </label>
                    <textarea rows="27" cols="180" id="textAreaTexto" name="txaTexto" disabled></textarea>
                </div>
                <div class="container-btn">
                    <a href="/login/administrador/gerencial/delete" id="btn-voltar">Voltar</a>
                    <button type="submit" id="btn-excluir">Excluir</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>