<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir</title>
    <link rel="stylesheet" href="../../../public/css/log/administrador/deleteAdministrador.css">
</head>
<body>
    <form action="" method="">
        <div class="container">
            <div class="container-conteudo">
                <h1>Excluir Morador</h1>
                <hr>
                <div class="conteudo">
                    <div class="conteudo-idusuario">
                        <label for="">ID Usuário: <input type="text"></label>
                        <a href="" id="btn-buscar">Buscar</a>
                    </div>
                    <div class="conteudo-dados">
                        <label for="">Nome: <input name="nome" id="input-nome" class="input-dados" type="text" disabled></label>
                        <label for="">Data de Nascimento: <input name="datanascimento" class="input-dados" id="input-nome" type="text" disabled></label>
                        <label for="">CPF: <input name="cpf" id="input-cpf" class="input-dados" type="text" disabled></label>
                        <label for="">Email: <input name="email" id="input-email" class="input-dados" type="text" disabled></label>
                        <label for="">Telefone: <input name="telefone" id="input-telefone" class="input-dados" type="text" disabled></label>
                    </div>
                    <div class="container-btn">
                        <a href="/login/administrador/gerencial" id="btn-voltar">Voltar</a>
                        <button id="btn-excluir">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>