<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerencial - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/gerencialAdministrador.css">
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <div class="container">
        <div class="container-conteudo">
            <h1>Moradores</h1>
            <hr>
            <div class="conteudo">
                <div class="container-tabela">
                    <table>
                        <tr>
                            <th>Acesso</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Email</th>
                            <th>Telefone</th>
                        </tr>
                        <tr>
                            <td>Administrador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                        <tr>
                            <td>Morador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                        <tr>
                            <td>Morador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                        <tr>
                            <td>Morador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                        <tr>
                            <td>Morador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                        <tr>
                            <td>Morador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                        <tr>
                            <td>Morador</td>
                            <td>Leonardo do Prado</td>
                            <td>13/10/2002</td>
                            <td>leonardodoprado231@gmail.com</td>
                            <td>(54)99991-2440</td>
                        </tr>
                    </table>
                </div>
                <div class="container-button">
                    <a id="btn-excluir" href="/login/administrador/gerencial/delete">Excluir</a>
                    <a id="btn-cadastrar" href="/login/administrador/gerencial/create">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>