<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/log/administrador/moradiasAdministrador.css">
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <div class="container">
        <div class="container-conteudo">
            <h1>Moradias</h1>
            <hr>
            <div class="conteudo">
                <div class="container-tabela">
                    <table>
                        <tr>
                            <th>ID Morador</th>
                            <th>Apartamento</th>
                            <th>Andar</th>
                            <th>Posição</th>
                            <th>Garagem</th>
                            <th>Telefone</th>
                        </tr>
                            <tr>
                                <td>123</td>
                                <td>201</td>
                                <td>3</td>
                                <td>Frente</td>
                                <td>201 / 202</td>
                                <td>(54)99923-9832</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>201</td>
                                <td>3</td>
                                <td>Frente</td>
                                <td>201 / 202</td>
                                <td>(54)99923-9832</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>201</td>
                                <td>3</td>
                                <td>Frente</td>
                                <td>201 / 202</td>
                                <td>(54)99923-9832</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>201</td>
                                <td>3</td>
                                <td>Frente</td>
                                <td>201 / 202</td>
                                <td>(54)99923-9832</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>201</td>
                                <td>3</td>
                                <td>Frente</td>
                                <td>201 / 202</td>
                                <td>(54)99923-9832</td>
                            </tr>
                    </table>
                </div>
                <div class="container-button">
                    <a id="btn-vincular" href="/login/administrador/moradias/vincular">Vincular</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>