<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moradias - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/moradiasAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <div class="container">
        <div class="container-conteudo">
            <h1>Moradias</h1>
            <hr>
            <div class="conteudo">
                <div class="container-tabela">
                    <table>
                        <tr>
                            <th>ID Morador</th>
                            <th>Nome</th>
                            <th>Apartamento</th>
                            <th>Andar</th>
                            <th>Posição</th>
                            <th>Garagem</th>
                            <th>Telefone</th>
                        </tr>
                            <tr>
                                <td>123</td>
                                <td>Leonardo do Prado</td>
                                <td>301</td>
                                <td>3</td>
                                <td>Frente</td>
                                <td>301 / 302</td>
                                <td>(54)99991-2440</td>
                            </tr>
                            <tr>
                                <td>1234</td>
                                <td>Paulo Augusto Lazzarotto</td>
                                <td>201</td>
                                <td>2</td>
                                <td>Fundos</td>
                                <td>201</td>
                                <td>(54)99932-3712</td>
                            </tr>
                            <tr>
                                <td>12345</td>
                                <td>Eduardo Silva Pottker</td>
                                <td>401</td>
                                <td>4</td>
                                <td>Frente</td>
                                <td>400</td>
                                <td>(54)99823-1846</td>
                            </tr>
                    </table>
                </div>
                <div class="container-button">
                    <a id="btn-vincular" href="/login/administrador/moradias/vincular">Vincular</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>