<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de ajuda</title>
    <link rel="stylesheet" href="../../public/css/home/centraldeajuda.css">
    <link rel="icon" type="imagem/png" href="../../public/img/home/login/icon.ico"/>
</head>
<body>
    <header class="container">
        <a href="#principal"><img src="../../public/img/home/centraldeajuda/logo-.comDomínio300px.png" alt=""></a>
    </header>
    <div class="centraldeajuda-conteudo-tit">
        <div class="centraldeajuda-conteudo-titulo">
            <h1>Central de Ajuda</h1>
        </div>
    </div>
    <div class="centraldeajuda-conteudo-sub">
        <div class="centraldeajuda-conteudo-subtitulo">
            <h2>Tudo o que você precisa saber para usar o software</h2>
        </div>
    </div>
    <div class="centraldeajuda-conteudo">
        <div class="conteudos-de-ajuda-esquerda">
            <ul>
                <li class="texto-centraldeajuda">
                    <h3>Gerencial</h3>
                </li>
                <li class="texto-centraldeajuda">
                    <h3>Financeiro</h3>
                </li>
                <li class="texto-centraldeajuda">
                    <h3>Moradias</h3>
                </li>
            </ul>

        </div>
        <div class="conteudos-de-ajuda-direita">
            <ul>
                <li class="texto-centraldeajuda">
                    <h3>Moradores</h3>
                </li>
                <li class="texto-centraldeajuda"> 
                    <h3>Comunicados</h3>
                </li>
                <li class="texto-centraldeajuda"> 
                    <h3>Agenda</h3>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>