<!DOCTYPE html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicados</title>
    <link rel="stylesheet" href="\css\comunicados\Comunicados.css">
</head>
<body>
    <form action="">
        <div class="container">
            <div class="container-conteudo">
                <h1>Comunicados</h1><hr>
                <div class="conteudo">
                    <div class="TituloeDataEnvio">
                        <label id="labeltitulo" for="titulo">Titulo: <input type="text" id="textTitulo" name="txTitulo"></label>

                        <label for="dataEnvio">Data de Envio: <input type="date" id="dataEnvio" name="dtEnvio"></label>
                    </div>

                    <label for="assunto">Assunto: <input type="text" id="textAssunto" name="txAssunto"></label><br>

                    <label id="labelTexto" for="textAreaTexto">Texto </label>
                    <textarea rows="20" cols="150" id="textAreaTexto" name="txaTexto"></textarea>
                </div>
                <button type="" id="btn-cadastrar">Cadastrar</button>
                <button type="" id="btn-excluir">Excluir</button>
                <button type="" id="btn-atualizar">Atualizar</button>
                <button type="" id="btn-consultar">Consultar</button>
            </div>
        </div>
    </form>
</body>
</html>